In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("../data/Shark Tank Companies (2) (1).csv")
df.head()

,deal,description,episode,category,entrepreneurs,location,website,askedFor,exchangeForStake,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode-season,Multiple Entreprenuers
0,False,Bluetooth device implant for your ear.,1,Novelties,Darrin Johnson,"St. Paul, MN",NaN,1000000,15,6666667,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,1-1,False
1,True,Retail and wholesale pie factory with two reta...,1,Specialty Food,Tod Wilson,"Somerset, NJ",http://whybake.com/,460000,10,4600000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,1-1,False
2,True,Ava the Elephant is a godsend for frazzled par...,1,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",http://www.avatheelephant.com/,50000,15,333333,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,1-1,False
3,False,"Organizing, packing, and moving services deliv...",1,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",http://collegehunkshaulingjunk.com/,250000,25,1000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,1-1,False
4,False,Interactive media centers for healthcare waiti...,1,Consumer Services,Kevin Flannery,"Cary, NC",http://www.wispots.com/,1200000,10,12000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,1-1,False

In [5]:
df.isnull().sum()
df.dropna(inplace=True)
df.isnull().sum()

deal                      0
description               0
episode                   0
category                  0
entrepreneurs             0
location                  0
website                   0
askedFor                  0
exchangeForStake          0
valuation                 0
season                    0
shark1                    0
shark2                    0
shark3                    0
shark4                    0
shark5                    0
title                     0
episode-season            0
Multiple Entreprenuers    0
dtype: int64

## Pick out the Deal (Dependent Variable) and Description columns into a separate data frame

In [11]:
data = df[["deal","description"]]
display(data)

      deal                                        description
1     True  Retail and wholesale pie factory with two reta...
2     True  Ava the Elephant is a godsend for frazzled par...
3    False  Organizing, packing, and moving services deliv...
4    False  Interactive media centers for healthcare waiti...
5     True  One of the first entrepreneurs to pitch on Sha...
..     ...                                                ...
490   True  Zoom Interiors is a virtual service for interi...
491   True  Spikeball started out as a casual outdoors gam...
492   True  Shark Wheel is out to literally reinvent the w...
493  False  Adriana Montano wants to open the first Cat Ca...
494   True  Sway Motorsports makes a three-wheeled, all-el...

[387 rows x 2 columns]

## Create two corpora, one with those who secured a Deal, the other with those who did not secure a deal.